body {
  background: #eee;
  backface-visibility: hidden;
}
.main-container {
  transition: all 0.3s ease;
  clear: both;
  position: relative;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
/*!---------- SECTIONS ----------*/
section {
  padding: 2em 0;
  background: #fff;
  overflow: hidden;
  position: relative;
}
@media all and (max-width: 767px) {
  section {
    padding: 30px 0;
  }
}
section.fullscreen {
  height: 80vh;
  padding: 0;
}
/*!---------- TYPOGRAPHY ----------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6,
.menu li a,
.logo span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #000;
  margin: 0;
  cursor: default;
}
h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: -1px;
}
h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}
h5 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
@media all and (max-width: 990px) {
  h1 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 300;
  }
  h2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 300;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
  }
  h4 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h6 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
  }
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }
  h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
  }
  h4 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h6 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
  }
}
.ampersand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  opacity: .5;
}
/*!---------- LINKS ----------*/
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer !important;
}
/*!---------- NAVIGATION ----------*/
nav {
  position: relative;
  transition: all 0.3s ease;
}
.nav-1 {
  height: 60px;
  padding: 15px 30px;
  background: #fff;
  transition: all 0.3s ease;
}
.logo {
  float: left;
}
.logo span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}
.menu {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.menu li {
  float: left;
  margin-left: 18px;
  transition: all 0.3s ease;
  opacity: 1;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li:hover {
  opacity: 1;
  cursor: pointer;
}
.menu li:hover a {
  color: #75c5b1;
}
.menu li a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  font-size: 11px;
  transition: all 0.3s ease;
  margin-right: 0;
}
@media all and (max-width: 768px) {
  .nav-1 {
    height: auto;
    padding: 15px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .menu {
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  .menu li {
    float: none;
    margin-right: 0;
    margin-bottom: 8px;
    opacity: 0;
  }
  .nav-open {
    max-height: 600px;
  }
  .nav-open .menu li {
    opacity: 1;
  }
  .header.header-1 {
    height:30vh;
    padding-top: 0;
    width: 100%;
    background: #000;
  }
  .header-1 h1 {
    display: none;
  }
  .header h6 {
    padding-top: 20vh;
  }
}
nav.scrolled {
  position: fixed;
  top: 0;
  width: 100;
  z-index: 99;
  color: red;
}
nav.transparent {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: none;
}
nav.transparent .menu li {
  opacity: .7;
}
.scrolled nav.transparent {
  background: #fff;
}
.scrolled nav.transparent.light {
  background: #fff;
}
.scrolled nav.transparent.light a {
  color: #222;
}
.scrolled nav.transparent.light span {
  color: #222;
}
nav.light .menu li a,
nav.light span {
  color: #fff;
}
/*!---------- HEADERS ----------*/
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  color: #ffffff;
}
.header h1 {
  -webkit-text-stroke: 1px #022601;
  text-shadow:
   -6px -2px 10px #000,  
    6px -2px 10px #000,
    -6px 2px 10px #000,
     6px 2px 10px #000;
}
.header p,
.header span,
.header li {
  color: #ffffff;
}
.header.light {
  padding: 0;
  background: #fff;
}
.header.light h1,
.header.light h2,
.header.light h3,
.header.light h4,
.header.light h5,
.header.light h6 {
  color: #222222;
}
.header.light p,
.header.light span,
.header.light li {
  color: #444444;
}
.header .container {
  position: absolute;
  top: 30vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.rsvp .container {
  position: absolute;
  top: 10em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.header.fadeContent .row {
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(100px);
}
.header.fadeContent.fadeIn .row {
  opacity: 1;
  transform: translateY(0);
}
.header h1 {
  font-size: 120px;
  line-height: 128px;
  font-weight: 100;
  margin-bottom: 30px;
}
@media all and (max-width: 990px) {
  .header h1 {
    font-size: 80px;
    line-height: 88px;
  }
}
.header-1 {
  height: 60vh;
  padding-top: 0;
}
.header-1 h1 {
  margin-bottom: 24px;
}
.header-1 h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 9px;
  margin-right: -9px;
}
.header-2 {
  height: 700px;
}
.header-2 h1 {
  margin-bottom: 0;
}
.header-2 h4 {
  margin-bottom: 40px;
}
@media all and (max-width: 767px) {
  .header-2 {
    height: 500px;
  }
  .header .container {
    top: 15vh;
  }
}

@media all and (max-width: 370px) {
  .header .container {
    top: 5vh;
  }
  .header.header-1 {
    height: 20vh;
  }
}
/*!---------- STORY ----------*/
.story {
  padding-bottom: 30px;
}
.story .feature {
  margin-bottom: 60px;
}
.story h3 {
  margin-bottom: 30px;
}
.story h6 {
  margin-bottom: 60px;
  color: #75c5b1;
}
.story img {
  width: 20em;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  transform: scale(1);
  position: relative;
  z-index: 1;
}
.story img.birgy {
  transform: scale(1) rotate(-3deg);
}
.story img.merly {
  transform: scale(1) rotate(4deg);
}
.story img:hover {
  transform: scale(1.1);
  z-index: 2;
  opacity: 1;
}
/*!---------- RSVP ----------*/
section.rsvp {
  height: 20em;
  transition: all 0.3s ease;
  padding-top: 0;
  background: #000;
}
section.rsvp h2, section.rsvp h6 {
  color: #fff
}
section.rsvp .input-row {
  margin-top: 4em;
  margin-bottom: 2em;
}
@media all and (max-width: 767px) {
  section.rsvp .input-row {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  section.rsvp .input-row div {
    padding-bottom: 1em;
  }
  section.rsvp h2 {
    padding-top: 2em;
  }
  section.rsvp {
    height: 22em;
  }
}
/*!---------- FOOTER ----------*/
.footer {
  background: #fff;
  height: 3em;
}
.footer h6 {
  color: #aaa;
  font-weight: 400;
}
.footer p {
  text-align: right;
  color: #aaa;
  font-weight: 400;
}
.footer a {
  font-family: monospace;
}

.footer .container {
  margin-top: -0.8em;
}
